body {
	background-color: #5BD0D9;
}

#login {
	position: absolute;
	width: 450px;
	height: 320px;
	border-radius: 10px;
	box-shadow: 0 0 5px #0EB1B0;
}

#login h1 {
	margin: 10px 0 20px 0;
	text-align: center;
}

#sre {
	position: absolute;
	width: 450px;
	height: 320px;
	background-color: #4AAEBE;
	border-radius: 10px;
	opacity: 0.5;
}

#login .text {
	width: 250px;
	height: 30px;
	margin: 20px auto;
}

#login .textbox, #login .btn {
	width: 250px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	border: none;
	border-radius: 5px;
}

#login .username {
	background: no-repeat url(../img/user.png) left 5px center white;
	text-indent: 30px;
}

#login .password {
	background: no-repeat url(../img/pwd.png) left 5px center white;
	text-indent: 30px;
}

#login .text .btn {
	background-color: #0EB1B0;
	cursor: pointer;
	box-shadow: 0 0 2px;
}

#login .text .btn:hover {
	background-color: #DDDA6C;
	color: white;
}

#login .text .fopwd {
	float: right;
}

#login .text .checkpwd {
	cursor: pointer;
}